input {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
}

button {
    height: 40px;
    width: 120px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonId {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.block {
    margin-top: 80px;
}