button {
    padding: 20px 50px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
}

.block {
    margin-top: 80px;
}